.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
  
  &__label {
	font-size: 2.2rem;
	font-weight: 500;
	margin-bottom: -0.2rem;
  }
  
  &__date {
	font-size: 1.4rem;
	color: $color-grey-1;
  }
  
  &__value {
	font-size: 4.5rem;
	font-weight: 400;
  }
}