/* FORM */
.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
  
  /* Exceptions for interest */
  &.form--loan {
	grid-template-columns: 2.5fr 1fr 2.5fr;
  }
  
  &__label--loan {
	grid-row: 2;
  }
  
  /* End exceptions */
  
  &__input {
	width: 100%;
	border: none;
	background-color: rgba($color-white, 0.4);
	font-family: inherit;
	font-size: 1.5rem;
	text-align: center;
	color: $color-grey-5;
	padding: 0.3rem 1rem;
	border-radius: 0.7rem;
	transition: all 0.3s;
	
	&:focus {
	  outline: none;
	  background-color: rgba($color-white, 0.6);
	}
  }
  
  &__label {
	font-size: 1.3rem;
	text-align: center;
  }
  
  &__btn {
	border: none;
	border-radius: 0.7rem;
	font-size: 1.8rem;
	background-color: $color-white;
	cursor: pointer;
	transition: all 0.3s;
	
	&:focus {
	  outline: none;
	  background-color: rgba($color-white, 0.8);
	}
  }
}