.login {
  display: flex;
  
  &__input {
	padding: 0.5rem 2rem;
	font-size: 1.6rem;
	font-family: inherit;
	text-align: center;
	width: 12rem;
	border-radius: 10rem;
	margin-right: 1rem;
	color: inherit;
	border: 1px solid $color-white;
	transition: all 0.3s;
	
	&:focus {
	  outline: none;
	  border: 1px solid $color-white-4;
	}
	
	&::placeholder {
	  color: $color-white-5;
	}
  }
  
  &__btn {
	border: none;
	background: none;
	font-size: 2.2rem;
	color: inherit;
	cursor: pointer;
	transition: all 0.3s;
	
	&:hover,
	&:focus,
	&--sort:hover,
	&--sort:focus {
	  outline: none;
	  color: $color-grey-2;
	}
  }
}