/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: $color-white;
  border-radius: 1rem;
  overflow: scroll;
  
  &__row {
	padding: 2.25rem 4rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $color-white-3;
  }
  
  &__type {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: $color-white;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 2rem;
  }
  
  &__date {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666666;
  }
  
  &__type {
	&--deposit {
	  background-image: linear-gradient(to top left, $color-green-3, $color-green-1);
	}
	
	&--withdrawal {
	  background-image: linear-gradient(to top left, $color-red-3, $color-red-1);
	}
  }
  
  &__value {
	font-size: 1.7rem;
	margin-left: auto;
  }
}