/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: $color-grey-5;
  
  &--transfer {
	background-image: linear-gradient(to top left, $color-yellow-2, $color-yellow-1);
  }
  
  &--loan {
	background-image: linear-gradient(to top left, $color-green-3, $color-green-1);
  }
  
  &--close {
	background-image: linear-gradient(to top left, $color-red-3, $color-red-1);
  }
}