/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
  
  &__label {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 0.8rem;
  }
  
  &__value {
	font-size: 2.2rem;
	margin-right: 2.5rem;
	
	&--in,
	&--interest {
	  color: $color-green-2;
	}
	
	&--out {
	  color: $color-red-2;
	}
  }
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}